<!DOCTYPE html>
<html lang="en">
<head>
  
  
  
  
</head>
<body>
  <div class="container">
    <h2 class="text-center" style="font-family:'Times New Roman', Times, serif;">NEWS SOURCES AND ARTICLES FROM ALL OVER THE WORLD</h2>
    <hr>
    <h3 class="text-center" style="font-family:'Times New Roman', Times, serif;">Business News Sources</h3>
    <hr>
    <ul></ul>
    <h3 class="text-center" style="font-family:'Times New Roman', Times, serif;">Technology News Sources</h3>
    <hr>
    <ul></ul>
    <h3 class="text-center" style="font-family:'Times New Roman', Times, serif;">Sports News Sources</h3>
    <hr>
    <ul></ul>

  </div>
</body>
</html>