{% macro displaySourcesList(business_sources) %}

    <div class="row">
    {% for source in business_sources %}
    <div class="col-md-4">

      <div class="panel panel-default" >
        <div class="panel-heading" style="background-color: pink; ">
          <a href="/source/{{source.id}}" style="color: black; font-size: 17px;">
            {{ source.name}}
          </a>
        </div>
        <div class="panel-body" style="background-color:#faf5f5;">
          <p>
            {{ source.description |truncate(200)}}
  
          </p>
          <a href="/source/{{source.id}}" class="btn btn-info btn-sm" style="background-color: pink !important;">Read Articles</a>
        </div>

      </div>
    </div>
    {% endfor %}    
    </div>
    
    

{% endmacro %}    